.floatiframe{
float:left;
padding:10px;
}


div.boardlist:not(.bottom) {
    color: #8899AA;
    /* font-size: 12pt; */
    margin-top: 0px;
    background-color:  #DDDDDD;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    margin-top: 0;
    /* padding: 10px; */
    position: fixed;
    top: 0;
}
div.boardlist.bottom {
    margin-top: 20px;
    position: inherit;
    background:inherit;
    border: none;
    text-align: center;
}



.return1 a{
float:left;
font-size: inherit;

}

div.blotter {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    color: #006AB9;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 2px;
    text-align: center;
}



div.title {
    margin-bottom: 0em;
    clear: both;
    color: #FFAB3F;
    font-size: 2em;
    font-weight: bold;

}

div.ban h2 {
    border-radius: 6px 6px 6px 6px;
}

div.ban {
    background: none repeat scroll 0 0  #DDDDDD;
    border: 1px solid #CCCCCC;
    margin: 30px auto;
    max-width: 700px;
    border-radius: 7px;

}

form {
    margin-bottom: 0px;
}


form {
    margin: 0 10px;
}

span.heading {
    color: #FFAB3F;
    display: block;
    font-size: 12pt;
    font-weight: bold;
}

textarea#body{
    height: 136px;
    width: 518px;
}



html, body {
  background: none;
  background-color: #BBBBBB;
  color: #333333;
  font-family: "Trebuchet MS",Trebuchet,serif;
  font-size: 16px;
}
body {
  background-color: #EEEEEE;
  margin: 20px;
  box-shadow: 0 0 7px black;
  border-radius: 0 0 10px 10px;
  padding-bottom: 4px;
}
a {
  color: #8A8A8A;
}
a:hover {
  color: #0066FF;
}
.adminbar {
        clear:both;
        float:right;
        font-size: .8em;
}
.adminbar a {
  font-weight: bold;
}
.logo {
        clear:both;
        text-align:left;
        font-size:2em;
        font-weight: bold;
        color:#FF6600;
        /*width:100%;*/
}
.theader, .passvalid {
        background:#DDDDDD;
        text-align:center;
        padding:2px;
        color:#2266AA;
        clear: both;
        font-weight: bold;
        margin-bottom: .5em;
        border: solid 1px #CCCCCC;
        -moz-border-radius: 5px;
}
.postarea {
}
.rules {
        font-size:0.7em;
}
.postblock {
        background:transparent;
        color:#002244;
        font-weight:bold;
}
.footer {
        text-align:center;
        font-size:12px;
        font-family:serif;
        margin: 2em 0 0 0;
}
.dellist {
  font-weight: bold;
  text-align:center;
}
.delbuttons {
  text-align:center;
  padding-bottom:4px;
}
.managehead {
  background:#DDDDDD;
  color:#002244;
  padding:0px;
}
.postlists {
  background:#FFFFFF;
  width:100%;
  padding:0px;
  color:#800000;
}
.row1 {
  background:#DDDDDD;
  color:#002244;
}
.row2 {
        background:#CCCCCC;
        color:#002244;
}
.unkfunc {
  background:inherit;
  color:#789922;
}
.reflink {
  font-size: .8em;
  font-weight: bold;
}
.filesize {
  text-decoration:none;
  color: #666666;
  font-size: .8em;
}
.filetitle {
  background:inherit;
  font-size:1.2em;
  color:#002244;
  font-weight:bold;
}
.postername {
  color:#004A99;
  font-weight:bold;
}
.postertrip {
  color:#FF3300;
}
.oldpost {
        color:#CC1105;
        font-weight:bold;
}
.omittedposts {
        color:#666666;
}
.reply {
  background:#DDDDDD;
  border: solid 1px #CCCCCC;
  padding: 0;
  margin: 0;
  -moz-border-radius: 5px;
}
blockquote {
  margin: .5em .5em .5em 1em;
}
blockquote p {
  margin: 0;
  padding: 0;
}
.reply blockquote {
  margin: .5em;
}
.doubledash {
  display: none;
  vertical-align:top;
  clear:both;
  float:left;
}
.replytitle {
  font-size: 1.2em;
        color:#002244;
        font-weight:bold;
}
.commentpostername {
        color:#004A99;
  font-weight:800;
}
.thumbnailmsg {
  font-size: .8em;
  color:#666666;
}
hr {
  border-style: solid none none none;
  border-width: 1px;
  border-color: #BBBBBB;
}
table {
  border-style: none;
}
table td {
  border-style: none;
}
.nothumb {
  background-color: #FFFFFF;
  border-style: dotted;
  margin: .3em .5em;
}

.abbrev {
        color:#666666;
}
.highlight {
  background:#EEDACB;
  color:#333333;
  border: 2px dashed #EE6600;
}


div.banner, div.banner a {
    color: inherit;
}
div.banner {
    background-color: inherit;
}
form table tr th {
    background: none;
}

div.post.reply {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    padding: 4px;
}
div.title,h1 {
    color: #FF6600;
    font-size: 28px;
    font-weight: bold;
    font-family: "Trebuchet MS",Trebuchet,serif;
}
div.title p {
    font-size: 26px;
    margin: 0;
}

h1 {
    letter-spacing: inherit;
}

.pages {
    background: rgba(204, 204, 204, 0.32) !important;
    width:100%;
    color: #707070 !important;
}

div.banner {
    background: none repeat scroll 0 0 #DDDDDD;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    color: #2266AA;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 2px;
    text-align: center;
}

form table tr td div {
    padding-left: 0px;

}
.recaptchatable .recaptcha_image_cell {
    padding: 0px !important;
}

.desktop-style div.boardlist:not(.bottom) {
    margin: 0 20px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.37);
    color: rgba(255,255,255,0.8);
    padding: 3px 2px;
    border-radius: 0;
    border: none;
    box-shadow: 0 1px 5px black;
    background: url('img/autumn-topbar.png');
}



.box {
  background: #DDDDDD;
  border-color: #CCCCCC;
  color: #333333;
  border-radius: 7px;
}
.box-title {
  border-radius: 7px;
}

table thead th {
  background: transparent;
  border: none;
}
table tbody tr:nth-of-type( even ) {
  background-color: #DDDDDD;
}

table.board-list-table .board-uri .board-sfw {
  color: #8A8A8A;
}
tbody.board-list-omitted td {
  background: transparent;
  border: none;
}

table.board-list-table .board-tags .board-cell:hover {
  line-height: 27px;
  background: #EEEEEE;
}
table.board-list-table tr:nth-of-type( even ) .board-tags .board-cell {
  background: #DDDDDD;
}
.intro span.name {
  color: #004A99;
}
div.post.reply.highlighted {
      background: #EEDACB;
      border: 1px dashed #EE6600;
}
.intro a.post-btn, .hide-thread-link, #quick-reply th .close-btn {
  float: left;
  margin-right: 5px;
  background: #aba8a6;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  width: 18px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  opacity: 0.8;
}
.intro a.post-btn:hover, .hide-thread-link:hover, #quick-reply th .close-btn:hover {
  opacity: 1;
  color: white;
}
.intro a.post-btn {
  margin: 0 0 3px 0!important;
  margin-right: 5px!important;
  width: 16px;
}
#quick-reply th .close-btn {
  float: right;
  margin-right: 2px;
  font-size: 16px;
  padding: 0;
}
div.post.reply div.body a, .fileinfo a {
  color: #FF6600;
}
div.post.reply div.body a:hover {
  color: #0066FF;
}
.post-hover {
  box-shadow: #666 0px 0px 10px!important;
  border: 1px #666 dashed!important;
}
.intro span.subject {
    color: #002244;
    font-weight: bold;
    font-size: 1.2em;
}
div.post.reply div.body {
 margin-left: 8px;
 
}
div.post p {
  /* font-size: 16px; */
}
div.post p.intro {
  font-size: 11px;
}
#quick-reply table {
  border-collapse: separate!important;
  background: #EEEEEE!important;
  margin: 0!important;
  width: 100%!important;
  border: 1px #666 dashed!important;
  box-shadow: #666 0px 0px 10px!important;
  opacity: 0.85!important;
  border-radius: 8px!important;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
#quick-reply table:hover {
  opacity: 1!important;
}
#quick-reply th {
  border: none;
}
a:hover {
    color: #0066FF;
}
.intro a.post_no {
  font-weight: bold
}
span.trip {
    color:#FF3300;
}
div.post p.fileinfo, .fileinfo {
 font-size: .8em;
 color: #666666;
}
.intro a.post_no:hover {
    color: #800000;
}
header div.subtitle {
  color: #FF6600;
}
.boardlist:not(.bottom) a {
  color: white;
  opacity: 0.8;
  transition: text-shadow 0.2s;
}
.boardlist:not(.bottom) a:hover {
  opacity: 1;
  text-shadow: 0 0 9px rgba(0, 0, 0, 1);
}
div.pages {
  box-sizing: border-box;
  border: none;
}